.container-fluid
    .col-xs-12.col-sm-6
        %h1 
            = link_to v4_home_path, id: "back-button", class: "pull-left btn btn-primary" do
                %span.glyphicon.glyphicon-chevron-left
            Tweet, tweet!
        %hr
        %h4 
            %em Tweets from YosemiteNPS
        %hr
        %p.lead
            We're celebrating the Fourth of July national-park style... hanging out in the park! Thank you to those who joined us for the flag ceremony!
        %hr  
        %p.lead
            We're celebrating the Fourth of July national-park style... hanging out in the park! Thank you to those who joined us for the flag ceremony!
        %hr  
        %p.lead
            We're celebrating the Fourth of July national-park style... hanging out in the park! Thank you to those who joined us for the flag ceremony!
        %hr 
:scss
    #back-button{
        margin-right: 10px;
    }