.flexbox-container
    .flex-block
    .flex-block
    .flex-block
    .flex-block
    .flex-block
    .flex-block
    .flex-block
    .flex-block
    
:scss
    .flexbox-container {
        display: flex; 
        flex-wrap: wrap;
        align-content: flex-start; 
        align-items: flex-start;
        flex-direction: row-reverse; 
    }