.flexbox-container
    .flex-block
    .flex-block
    .flex-block
    .flex-block
    .flex-block
    .flex-block
    .flex-block
    .flex-block
    .flex-block
    .flex-block
    .flex-block
    .flex-block
    .flex-block
    .flex-block
    .flex-block

:scss
    .flexbox-container {
        display: flex;
        flex-direction: flow;
        flex-wrap: wrap;
    }
    