.container
    .row
        .col-xs-1
        .col-xs-5
            .box#one
        .col-xs-5
            .box#two
        .col-xs-1
    .row
        .col-xs-1
        .col-xs-5
            .box#three
        .col-xs-5
            .box#four
        .col-xs-1
    .row
        .col-xs-1
        .col-xs-5
            .box#one
        .col-xs-5
            .box#two
        .col-xs-1

:scss
    .col-xs-5 {
        padding: 0;
    }