.container
    .row
        .col-xs-1
        .col-xs-5
            .box#one
        .col-xs-5
            .box#two
        .col-xs-1
    .row
        .col-xs-1
        .col-xs-5
            .box#one
        .col-xs-5
            .box#two
        .col-xs-1
    .row
        .col-xs-1
        .col-xs-10
            .box#three
        .col-xs-1
:scss
    .col-xs-5 {
        padding: 0;
    }
    .col-xs-10 {
        padding: 0;
    }