.container
    .row
        .col-xs-12
            #three{style: "height: 15vh"}
    .row
        .col-xs-12
            #four{style: "height: 55vh"}
    .row
        .col-sm-12
            #one{style: "height: 30vh"}
                .row
                    .col-xs-12{style: "height: 5vh"}
                .row
                    .col-sm-1.col-xs-1
                    .col-sm-10.col-xs-10
                        #three{style: "height: 15vh"}
                    .col-sm-1.col-xs-1