// Place all the styles related to the v5 controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$background: #88499c;
$block: #e78024;

.flexbox-container{
    background: $background;
    height: 100%;
    width: 100%;
}
.flex-block{
    background: #e78024;
    width: 100px;
    height: 50px;
    margin: 20px;
}

